# Python-specific
*.pyc
*.pyo
__pycache__/
.pytest_cache/

# Mac Specific 
 .DS_Store


# Node.js
node_modules/

# IDE-specific
*.vscode/
.idea


# Django specific
django-application/venv/
django-application/db.sqlite3
